@import 'node_modules/modern-normalize/modern-normalize.css';
:root {
  --white-color: #ffffff;
  --dark-color: #000000;

  --white-bgcolor: #ffffff;
  --dark-bgcolor: #2f303a;
  --light-bgcolor: #f5f4fa;

  --post-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --accent-btn-color: #188ce8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #212121;
  transition-duration: 0.5s;
}

a:hover {
  color: #2196F3;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}



.title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.header__logo {
  margin: 24px 0;
  margin-right: 93px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  position: relative;
}

.blue-text {
  color: #2196F3;
}

.black-text {
  color: black;
}

.white-text {
  color: white;
}

.email {
  color: #757575;
}

.phone {
  color: #757575;
}

.list {
  display: flex;
  margin-top: 50px;

}

a.active {
  background-color: transparent;
  color: #2196F3;
}









.header {
  background-color: #fff;
}

.header__inner {
  display: flex;
  align-items: center;

}

.header-contact {
  display: flex;
  gap: 40px;
  font-weight: 500;
  margin-left: auto;
}

.nav__menu-list {
  display: flex;
  color: #212121;
  font-weight: 500;
  gap: 50px;
  margin-right: auto;
}










.intro {
  background-color: #2F303A;
  text-align: center;
  padding: 200px 0;
}


.intro__title {
  color: #FFF;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 136%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin: 0;
}

.intro__btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: #FFF;
  background-color: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition-duration: 0.5s;
}

.intro__btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.services {
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  padding: 94px 0;
}

.services__list {
  display: flex;
  gap: 30px;
}

.services__list-link {
  max-width: 270px;
}

.services__title-text {
  color: #212121;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;

}

.services__text {
  color: #757575;
  line-height: 170%;
  letter-spacing: 0.42px;
}



.about__us{
  padding-bottom: 94px;
}

.about__us-list {
  gap: 30px;
}







.our__team {
  background-color: #F5F4FA;
  padding: 94px 0;  
}

.our__team-list {
  gap: 30px;
}

.card {
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.card-body {
  padding: 30px 0;
}

.card-img {
  width: 270px;
}

.card-name {
  color: #212121;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-position {
  color: #757575;
}






.footer {
  background-color: #2F303A;
  padding: 60px 0;
}

.footer__logo {
  margin-bottom: 28px;
}

.contact--item:not(:last-child)
{
  margin-bottom: 10px;
}










.header {
  border-bottom: 1px solid #ECECEC;
}

.filter-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  gap: 8px;
  padding-top: 94px;
}


.btn-filter {
  display: inline-block;
  padding: 6px 22px;
  border-style: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #212121;
  background-color: #F5F4FA;
  transition-duration: 0.5s;
  transition-property: transform, background-color;
}

.btn-filter:hover {
  background-color: #2196F3;
  color: #fff;
  cursor: pointer;
  transform: scale(1.1);

}

.portfolio-list { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
  padding-bottom: 94px;
}

.portfolio-item {
  border: 1px solid #EEE;
}

.portfolio-text {
  padding: 20px 24px;
}

.portfolio-title {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  letter-spacing: 1.08px;
}

.portfolio-post {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.48px;
}

.google-maps {
  color: #FFF;
  font-style: normal;
}

.contacts {
  color: rgba(255, 255, 255, 0.60);
  font-style: normal;
  line-height: 114%;
  letter-spacing: 0.42px;
}